[
  {lager, [
    {handlers, [
      {lager_console_backend, info},
      {lager_file_backend, [{file, "log/error.log"}, {level, error}]},
      {lager_file_backend, [{file, "log/info.log"}, {level, info}]}
    ]},
    {colored, true}
  ]},
  {socks5, [
    %% ranch:start_listener/6 options
%%     {ndtp_num_acceptor, 100}, TODO
%%     {olymp_num_acceptor, 100}, TODO
    {socks5_port, 1080}
  ]}
].
