[
  {lager, [
    {handlers, [
      {lager_console_backend, info},
      {lager_file_backend, [{file, "log/error.log"}, {level, error}]},
      {lager_file_backend, [{file, "log/info.log"}, {level, info}]}
    ]},
    {colored, true}
  ]},
  {socks5, [
    {socks5_port, 1080},
    {idle_time, 90000}, % 1.5 min = 90000
    {users_info_file, "uname_salt_hash.txt"}
  ]}
].
